@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-themeBlack text-foreground;
    }
  :root {

        --radius: 0.5rem
    }
}

.radial {
    background-image: radial-gradient(
            ellipse farthest-side,
            white,
            #716768,
            black
    );
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.text-gradient {
    background: linear-gradient(to right, #4a4e58, white, #716768);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-radial {
    background-image: radial-gradient(
            ellipse farthest-side,
            rgba(113, 103, 104, 0.2) 30%,
            black 70%
    );
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.text-radial--circle {
    background-image: radial-gradient(
            circle farthest-side,
            rgba(113, 103, 104, 0.35) 20%,
            black 70%
    );
    background-size: 50% 70%;
    background-repeat: no-repeat;
    background-position: top center;
}

.backdrop--blur__safari {
    -webkit-backdrop-filter: blur(5px);
}

.radial--blur {
    -webkit-backdrop-filter: blur(100px);
    filter: blur(100px);
    background: #877874;
}

@media only screen and (max-width: 800px) {
    .text-radial--circle {
        background-image: radial-gradient(
                circle farthest-side,
                rgba(113, 103, 104, 0.2) 20%,
                black 70%
        );
        background-size: 100% 50%;
        background-repeat: no-repeat;
        background-position: top center;
    }
}

.swiper-autoheight .swiper-slide {
    height: 100% !important;
}

.content-width-slide {
    width: fit-content !important;
}

.img--overlay {
    background-image: -webkit-linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
    ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
    ); /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
    ); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
    ); /* Standard syntax; must be last */
}

.slider-overlay {
    background-image: -webkit-linear-gradient(
            to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
    ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(
            to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
    ); /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(
            to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
    ); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
    ); /* Standard syntax; must be last */
}

.slider-overlay-rev {
    background-image: -webkit-linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)
    ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)
    ); /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)
    ); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)
    ); /* Standard syntax; must be last */
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}